<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-success"> New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12  mt-3">
    <a href="#" 
    class="list-group-item mt-1" 
    *ngFor="let recipe of recipes">
      <div class="float-left">
        <h4 class="list-group-item-heading ">
         {{ recipe.name }}
        </h4>
        <p class="list-group-item-text mt-0 mb-0">
          Description
          {{ recipe.description }}
        </p>
      </div>
      <span class="float-right">
        <img 
       
        [src]="recipe.imagePath" 
        alt="{{ recipe.name }}" 
        class="img-responsive"
        style="max-height: 50px;"
        >
      </span>
    </a>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-recipe-item></app-recipe-item>
    </div>
  </div>
</div>